<!Doctype html>
<html>

<head>
    <title>Unnikrishnan's Portfolio</title>

    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- Bootstrap JS --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- CSS Styling File -->
    <link rel="stylesheet" href="/style.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Google Font Gugi -->
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Merriweather:400,400i&display=swap"
        rel="stylesheet">

    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


</head>

<body>
    {{!-- Header Info - Name, Contact info etc --}}
    <div class="header pt-2" data-aos="fade-down" data-aos-duration="2000">
        <div class="container-justify btns">
            <div class="header-btn">
                <a href="/" class="link-block"><button>Home</button></a>
                <a href="/api/projects" class="link-block"><button>Projects</button></a>
                {{!-- <a href="/contact" class="link-block"><button>Contact me</button></a> --}}
            </div>
            <div class="my-auto contact">
                <a class="mx-2 text-white" style="font-family: 'Merriweather' " href="mailto:unnipbvr@gmail.com"
                    target="_blank">unnipbvr@gmail.com</a>
                <span class="mx-2 text-white">+1 210-616-1664</span>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="jumbotron pb-1 text-center col-md-12" style="background-color: rgba(0,0,0,0)">
                <div class="text-center head-prime text-white" style="font-family: 'Cardo'">
                    <h1>
                        <span>UNNIKRISHNAN RAMACHANDRAN</span>
                    </h1>
                </div>
                <p class="text-center text-black" style="font-family: 'Merriweather',Regular Italic">MERN Stack |
                    JavaScript
                    | MAINFRAMES | Project Management | Agile Practicioner | Scrum Master | Retail | Supply Chain</p>
                <hr class="bg-white w-25">
                <div class="col-12 text-center" style="margin: 0 auto">
                    <span class="m-2">
                        <a href="https://www.linkedin.com/in/unnikrishnan-ramachandran/" target="_blank">
                            <i class="fab fa-linkedin text-white display-4 social"></i>
                        </a>
                    </span>
                    <span class="m-2">
                        <a href="https://github.com/unnikrishnan-r" target="_blank">
                            <i class="fab fa-github text-white display-4 social"></i>
                        </a>
                    </span>
                    <span class="m-2">
                        <a href="https://drive.google.com/file/d/1BQPq_zmIX0MGWE3AUA-qOu5hwu4aemlq/view?usp=sharing"
                            target="_blank" download>
                            <i class="fas fa-file-download text-white display-4 social"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {{{body}}}
</body>

</html>