{{!-- Header Info - Name, Contact info etc --}}
<div class="header pt-3" data-aos="fade-down" data-aos-duration="2000">
    <div class="container-justify btns">
        <div class="header-btn">
            <a href="/" class="link-block"><button>Home</button></a>
            <a href="/projects" class="link-block"><button>Projects</button></a>
            {{!-- <a href="/contact" class="link-block"><button>Contact me</button></a> --}}
        </div>
        <div class="my-auto contact">
            <a class="mx-2 text-white" style="font-family: 'Merriweather' " href="mailto:unnipbvr@gmail.com"
                target="_blank">unnipbvr@gmail.com</a>
            <span class="mx-2 text-white">+1 210-616-1664</span>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="jumbotron pb-3 text-center col-md-12" style="background-color: rgba(0,0,0,0)">
            <div class="text-center head-prime text-white" style="font-family: 'Cardo'">
                <h1>
                    <span>UNNIKRISHNAN RAMACHANDRAN</span>
                </h1>
            </div>
            <p class="text-center text-white" style="font-family: 'Merriweather',Regular Italic">MERN Stack | JavaScript
                | MAINFRAMES | Project Management | Agile Practicioner | Scrum Master | Retail | Supply Chain</p>
            <hr class="bg-white w-25">
            <div class="col-12 text-center" style="margin: 0 auto">
                <span class="m-2">
                    <a href="https://www.linkedin.com/in/unnikrishnan-ramachandran/" target="_blank">
                        <i class="fab fa-linkedin text-white display-4 social"></i>
                    </a>
                </span>
                <span class="m-2">
                    <a href="https://github.com/unnikrishnan-r" target="_blank">
                        <i class="fab fa-github text-white display-4 social"></i>
                    </a>
                </span>
                <span class="m-2">
                    <a href="https://drive.google.com/file/d/1BQPq_zmIX0MGWE3AUA-qOu5hwu4aemlq/view?usp=sharing"
                        target="_blank" download>
                        <i class="fas fa-file-download text-white display-4 social"></i>
                    </a>
                </span>

            </div>
        </div>
    </div>
</div>

<br>

{{!-- Skillsets --}}
<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <div class="row col-12">
            {{!-- Technical Skills --}}
            <div class="col-md text-center my-2" data-aos="fade-right" data-aos-duration="2000">
                <span>
                    <i class="fas fa-laptop-code display-1 text-warning"></i>
                </span><br>
                <span class="font-gugi lead text-warning">Technology SKILLS</span><br><br>
                <div class="text-dark">
                    {{!-- HTML5, CSS3, JavaScript, jQuery, Bootstrap, React, MongoDB, MySql, Express, Node.js
                    Mainframes, TIBCO, Restful APIs --}}
                    <ul class="list-skills text-dark">
                        <li>HTML5, CSS3, Bootstrap</li>
                        <li>JavaScript, jQuery</li>
                        <li>Node.js</li>
                        <li>Express.js</li>
                        <li>React.js</li>
                        <li>MongoDb,MySQL, Oracle, DB2</li>
                        <li>Mainframes</li>
                        <li>TIBCO</li>

                    </ul>

                </div>
            </div>
            {{!-- Domain Skills --}}
            <div class="col-md text-center my-2" data-aos="fade-up" data-aos-duration="2000">
                <span><i class="fas fa-briefcase display-1 text-primary"></i></span><br>
                <span class="font-gugi lead text-primary">Domain Skills</span><br><br>
                <div class="text-dark">
                    {{!-- Retail, Supply Chain, Master Data Management, Data Analytics, Order Management --}}
                    <ul class="list-skills text-dark">
                        <li>Retail</li>
                        <li>Supply Chain</li>
                        <li>Master Data Management</li>
                        <li>Data Analytics</li>
                        <li>Order Management</li>
                        <li>Forecasting and Replenishment</li>
                        <li>Warehouse Operations</li>
                    </ul>

                </div>
            </div>
            {{!-- Soft Skills --}}
            <div class="col-md text-center my-2" data-aos="fade-left" data-aos-duration="2000">
                <span><i class="fas fa-people-carry display-1 text-danger"></i></span><br>
                <span class="font-gugi lead text-danger">Soft Skills</span><br><br>
                <div class="text-dark">
                    {{!-- Adaptive, Effective Communicator, Mentor, Self-Learner, Team Player, Active Listener, Goal-focused, Problem Solve --}}
                    <ul class="list-skills text-dark">
                        <li>Adaptive</li>
                        <li>Effective Communicator</li>
                        <li>Mentor</li>
                        <li>Self Learner</li>
                        <li>Team Player</li>
                        <li>Active Listener</li>
                        <li>Goal Focused</li>
                        <li>Problem Solver</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{{!-- ABOUT ME --}}
<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h2 class="font-gugi text-center text-danger">ABOUT ME</h2>
        <hr class="bg-success w-75 text-center">
        <div>
            <div class="col-12 flex btn-aboutme py-3  education-field">
                <div>
                    <span class="lead mx-2 mobile-edu-container">13+ years of diverse experience in
                        Information Technology with proven expeterise in Project Management, Leading geographically
                        dispersed teams, design and architecture of compelx business problems and Legacy
                        modernization.</span>
                </div>
                <div>
                    <span class="btn btn-success ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-aboutme" style="display:none">
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        <a href="https://bcert.me/bc/html/show-badge.html?b=hefndbsi">Certified Scrum Master</a>
                    </li>
                    <li>
                        Currently executing a multi year, multi million dollar Digital Modernization initiative,
                        transforming legacy applications/data out of Retailer's legacy platform and aiming to reduce TCO by $12 million
                    </li>
                    <li>Designed and implemented a solution via EDI to provide visibility of DSD purchase order
                        fulfillment and out of stocks in Store Replenishment System, reducing lost sales by $2.8 million
                        annually
                    </li>
                    <li>
                        Manage an annual budget of $2.5 million in Legacy Development Center portfolio; geographically
                        dispersed team of 35 members
                    </li>
                    <li>
                        Self upgraded technical skills as Full Stack Developer
                    </li>
                    <li>
                        Core Competency in Mainframe Technologies, also well versed with Integration technologies like TIBCO
                    </li>
                    <li>
                        Strong leadership and interpersonal skills. Effectively mentored many team members
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<br>
{{!-- EXPERIENCE --}}
{{!-- EDUCATION --}}
<div class="container-fluid col-md-9 col-11 px-0" data-aos="fade-up" data-aos-duration="2000">
    <div>
        <h2 class="font-gugi text-center text-success">E D U C A T I O N </h2>
        <hr class="bg-success w-75 text-center">
        <div>
            <div class="col-12 flex btn-bootcamp py-3  education-field">
                <div>
                    <span class="badge-lg badge-success p-1 my-auto">May 2019 - November 2019 </span><span
                        class="font-weight-bold lead mx-2 mobile-edu-container">Full Stack Development</span>
                    <div class="p-2">
                        <i>University of Toronto</i>
                        <a href="https://bootcamp.learn.utoronto.ca/coding/">Details Here</a>
                    </div>
                </div>
                <div>
                    <span class="btn btn-success ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-bootcamp" style="display:none">

                What I've Learned -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Browser Based Technologies (HTML, CSS, JavaScript, jQuery, Bootstrap)
                    </li>
                    <li>
                        Server Side Development (Node.js, Express, MERN Stack)
                    </li>
                    <li>
                        Databases (MySQL, MongoDB) and ORMs like Sequelize and Mongoose
                    </li>
                </ul>
            </div>
        </div>


        <div>
            <div class="col-12 flex btn-graduation py-3  education-field">
                <div>
                    <span class="badge-lg badge-success p-1 my-auto">May 2002 - May 2006 </span><span
                        class="font-weight-bold lead mx-2 mobile-edu-container">Bachelor Of Technology in Electronics
                        and Communication</span>
                    <div class="p-2"> <a href="http://vjec.ac.in/">Vimal Jyothi Engineering College, Kannur University,
                            India</a></div>
                </div>
                <div>
                    <span class="btn btn-success ">+</span>
                </div>
            </div>
            <div class="col-12" id="open-graduation" style="display:none">

                What I've Learned -
                <ul class="list-skills text-dark" style="font-weight: 200; text-aligh: left; font-size: 1.1rem">
                    <li>
                        Make REAL web applications using cutting-edge technologies
                    </li>
                    <li>
                        Use Express and MongoDB to create full-stack JS applications
                    </li>
                    <li>
                        Write complex web apps with multiple models and data associations
                    </li>
                    <li>
                        Manipulate the DOM with vanilla JS and jQuery
                    </li>
                    <li>
                        Use JavaScript variables, conditionals, loops, functions, arrays, and objects
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<br>
<div class="container-justify btns">
    <a href="/" class="link-block"><span class="lead footer"></span></a>
</div>
<script type="text/javascript">
    $(".btn-aboutme").on("click", function () {
        $("#open-aboutme").slideToggle();
    });

    $(".btn-bootcamp").on("click", function () {
        $("#open-bootcamp").slideToggle();
    });
    $(".btn-graduation").on("click", function () {
        $("#open-graduation").slideToggle();
    });
    $(".btn-tutor").on("click", function () {
        $("#open-tutor").slideToggle();
    });
    $(".btn-asg").on("click", function () {
        $("#open-asg").slideToggle();
    });
    $(".btn-full").on("click", function () {
        $("#open-full").slideToggle();
    });
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>